<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="contentWs" ng-controller="MainController">

    <!-- <script>
      var contentWs = angular.module('contentWs', ['ngRoute'])
      .controller('MainController', function ($scope,$http,$location) {
          $scope.formData = {};

          $scope.changePassword = function() {
              var url = $location.absUrl();
              var params = url.split('/');
              var token = params[params.length-1];
              $scope.formData.token = token;

              $http.post(url,$scope.formData).success(function(data) {
                  console.log(data);
              }).error(function(data) {
                  console.log('Error');
              });
          };
        });
    </script> -->

    New Password:<br>
    <input type="password" name="new_password" ng-model="formData.new_password">
    <br>
    Confirm Password:<br>
    <input type="password" name="confirm_password" ng-model="formData.confirm_password">
    <br><br>
    <button type="submit" ng-click="changePassword()">Change Password</button>

</body>
</html>
